<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title || 'Thank you all!' %>
    </title>
    <style>
      body{margin:0;width:100%;height:100%} body,td,input,textarea,select{font-family:arial,sans-serif}
      <%= style %>
    </style>
    <script type='text/javascript'>
    </script>
  </head>
  <body>
    <%= content %>
  </body>
</html>
